.statistics {
  margin-top: 15px;
  margin-bottom: 15px;
}

.title {
  color: #040404;
  height: 75px;
}

.statList {
  display: flex;
  height: 64px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
  width: 75px;
  color: white;
  background-color: teal;
}

.label {
  font-size: 12px;
  margin-bottom: 5px;
}

.percentage {
  font-size: 16px;
}
